@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  
  --color-gold-400: #E6C25E;
  --color-gold-500: #D4AF37;
  --color-gold-600: #AA8C2C;
  
  --color-black-900: #050505;
  --color-black-950: #020202;
  --color-black-800: #0A0A0A;
}

body {
  background-color: var(--color-black-900);
  color: #f5f5f5;
}
